node_modules/
npm-debug.log
yarn-error.log
core/vendor/
core/node_modules/
core/storage/
assets/uploads/
# Laravel 4 specific
bootstrap/compiled.php
app/storage/
docker/nginx/logs/
docker/nginx/certs/
docker/nginx/log
/core/storage/
core/storage/
# Laravel 5 & Lumen specific
core/storage
core/hot
/assets/uploads/
sobunny.sql
# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
